.menu-wrap {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
}

.menu-wrap .toggler {
	position: absolute;
	z-index: 2;
	cursor: pointer;
	width: 40px;
	height: 40px;
	margin-top: 12%;
	opacity: 0;
}

.menu-wrap .hamburger {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 40px;
	height: 40px;
	padding: 12% 0;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-wrap .hamburger > div {
	position: relative;
	width: 100%;
	height: 4px;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease;
}

/* top and bottom lines */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
	content: "";
	position: absolute;
	z-index: 1;
	top: -12px;
	width: 100%;
	height: 4px;
	background: inherit;
}

/* moves line down */
.menu-wrap .hamburger > div::after {
	top: 12px;
}

/* toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
	transform: rotate(135deg);
}

/* turn lines into x */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
	top: 0;
	transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
	transform: rotate(225deg);
}

/* show menu */
.menu-wrap .toggler:checked ~ .menu {
	visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
	transform: translateX(0vw);
	transition-duration: 1s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
	opacity: 1;
}

.menu-wrap .menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	visibility: hidden;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-wrap .menu > div {
	background: #f9e933;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex: none;
	align-items: center;
	justify-content: left;
	transform: translateX(100vw);
	transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
	text-align: left;
	max-width: 90vw;
	max-height: 100vh;
	opacity: 0;
	transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
	list-style: none;
	color: black;
	font-family: "FuturaDemi";
	font-size: 2rem;
	padding: 1.5rem;
}
.menu-wrap .menu > div > div > ul > li > a {
	color: inherit;
	text-decoration: none;
}

.image-wrap {
}

.full-height-wrapper {
	height: 100%;
}

.full-page {
	min-height: 100%;
	height: 100vh;
}
.background-wrapper {
	position: absolute;
}
.full-page-background {
	position: relative;
	min-height: 100%;
	height: 100vh

}

.background1{
	position: absolute;
	width: 100vw;
	height: 100vh;
	min-height: 100vh;
	
}

.background2{
	position: absolute;
	width: 100vw;
	height: 100vh;
	min-height: 100vh;
	background-color: black;
}

.title-card {
	display: flex;
	align-items: center;
	position: relative;
	height: 100vh;
	background-color: transparent;
	z-index: 0;
}

.title-card .bg {
	display: flex;
	align-items: center;
	position: absolute;
	height: 100vh;
	width: 100%;
	background-image: url("icons/HARRYlogo.png");
	background-repeat: no-repeat;
	background-size: 45%;
	background-position-x: 100%;
	background-position-y: 50%;
	z-index: -1;
	opacity: 1;
}

.about {
	display: flex;
	align-items: center;
	position: relative;
	height: 100vh;
	color: white;
}

.whitey {
	color: white;
}

.showreel {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.scroll-wrap {
	position: absolute;
	min-height: 100vh;
	height: 100vh;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.scrolldown {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: flex-end;
	height: 100vh;
	font-size: 45px;
	bottom: 20px;
	animation: scroll;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes scroll {
	0%,
	100% {
		bottom: 20px;
	}
	25%,
	75% {
		bottom: 12px;
	}
	50% {
		bottom: 0px;
	}
}
